@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// color overrides
$body-bg: #FEFFB4;
$body-color: #000;

$theme-colors: (
  "primary":    #EAEC5C,
  "secondary":  $secondary,
  "success":    $success,
  "info":       #FD4C43,
  "warning":    $warning,
  "danger":     $danger,
  "light":      #FEB1AD,
  "dark":       $dark
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

// typography overrides
$font-family-base: "Andale Mono", AndaleMono, monospace;

@import "../node_modules/bootstrap/scss/bootstrap";
